@import "../../styles/variables/colors";

.introWrapper {
  padding: 0 20px;
}
.myInfo {
  .desc {
    color: rgba($text-primary, 0.5);
  }

  .skills_lists {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    color: rgba($text-primary, 0.5);
    padding: 0 15px;
    li {
      position: relative;
      &::before {
        content: "▹";
        position: absolute;
        top: 2px;
        color: $theme-secondary;
        font-size: 13px;
        left: -15px;
      }
    }
  }
}

// .myImage {
//   cursor: pointer;
//   position: relative;

//   &:hover {
//     transition: all 0.5s ease-in-out;
//     &::before {
//       display: none;
//     }
//   }
//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 100%;
//     width: 100%;
//     background-color: rgba($theme-secondary, 1);
//     z-index: 1;
//     mix-blend-mode: multiply;
//     cursor: pointer;
//   }
//   img {
//     border-radius: 5px;
//     width: 100%;
//     position: relative;
//   }
// }
