@import "../../styles/variables/colors";

.skillCard {
  cursor: pointer;
  .skillImg {
    color: $theme-secondary;
    font-size: 5rem;
  }

  span {
    color: $text-primary;
    font-size: 20px;
  }
}
