@import "../styles/variables/colors";
@import "../styles/variables/mixins";
.main {
  position: relative;
  min-height: 100vh;
}

.social {
  width: 40px;
  position: fixed;
  bottom: 130px;
  left: 20px;
  right: auto;
  display: flex;
  align-items: center;
  z-index: 10;

  @include mobile {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 1px;
    border-radius: 50%;
    bottom: -100px;
    background-color: $text-primary;
  }
}

// aboutSec

.aboutSec {
  padding: 100px 0;

  @include mobile {
    padding: 50px 0;
  }
}

// servicesSec

.servicesSec {
  padding: 100px 0;
  @include mobile {
    padding: 50px 0;
  }
}

// portfolioSec

.portfolioSec {
  padding: 100px 0;
  @include mobile {
    padding: 50px 0;
  }
}

// .skillsSec
.skillsSec {
  padding: 100px 0;
  @include mobile {
    padding: 50px 0;
  }
}

// .contactSec

.contactSec {
  padding: 100px 0;
  @include mobile {
    padding: 50px 0;
  }
}
