// Variables
// ================================================
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";
// ================================================

.custom_nav {
  background-color: $theme-primary;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  position: fixed !important;
  top: 0;
  width: 100%;

  // .nav_logo {
  // }

  .nav_links {
    list-style: none;
    display: flex;
    gap: 32px;
    text-transform: capitalize;

    .links {
      a {
        text-decoration: none;
        color: rgba($text-primary, 1);
      }
    }
  }
}
