// Variables
// ================================================
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";
// ================================================

.custom_nav {
  background-color: $theme-primary;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  position: fixed !important;
  top: 0;
  width: 100%;

  // .nav_logo {
  // }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav_links {
    list-style: none;
    display: flex;
    gap: 32px;
    text-transform: capitalize;
    margin-bottom: 0;

    @include mobile {
      position: absolute;
      flex-direction: column;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100vh;
      transition: all 0.5s ease-in-out;
      transform: translateY(0%);
      padding: 0;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      gap: 52px;
    }

    &.showNav {
      transform: translateX(0%);
    }

    .links {
      a {
        text-decoration: none;
        color: rgba($text-primary, 1);
        font-size: 1rem;

        @include mobile {
          font-size: 1.5rem;
        }
      }
    }
  }

  .iconClose {
    display: none;

    @include mobile {
      display: block;
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 38px;
      color: rgba($theme-secondary, 1);
    }
  }

  .iconMenu {
    display: none;

    @include mobile {
      display: block;
      font-size: 32px;
      color: rgba($theme-secondary, 1);
    }
  }
}
