@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.skillsCon {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }
}
