.main_layout {
  .navigation_sec {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1001;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }

  .footerSec {
    margin-bottom: 40px;
  }
}
